
  .form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
  }
  
  .form h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #4B59F7;
  }
  .heading{
      padding-top: 20px;
      
  }
  .form-inputs{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    
    margin-bottom: 0.5rem;
    width: 80%;
    
  }
  
  .form-label {
    display: inline-block;
    font-size: 20px;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #4B59F7;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: #4B59F7;
    outline-style: auto;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: 3px;
    border-color: #4B59F7;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    color: #4B59F7;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #4B59F7;
    width: 80%;
    text-align: flex-start;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }